/* TODO: import from fontsource */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  /* Catppuccin Frappé */
  --color-rosewater: #F2D5CF;
  --color-flamingo: #EEBEBE;
  --color-pink: #F4B8E4;
  --color-mauve: #CA9EE6;
  --color-red: #E78284;
  --color-maroon: #EA999C;
  --color-peach: #EF9F76;
  --color-yellow: #E5C890;
  --color-green: #A6D189;
  --color-teal: #81C8BE;
  --color-sky: #99D1DB;
  --color-sapphire: #85C1DC;
  --color-blue: #8CAAEE;
  --color-lavender: #BABBF1;
  --color-text: #C6D0F5;
  --color-subtext-1: #B5BFE2;
  --color-subtext-0: #A5ADCE;
  --color-overlay-2: #949CBB;
  --color-overlay-1: #838BA7;
  --color-overlay-0: #737994;
  --color-surface-2: #494D64;
  --color-surface-1: #363A4F;
  --color-surface-0: #24273A;
  --color-base-color: #181926; /* Catppuccin Macchiato Crust */
  --color-mantle: #1e2030; /* Catppuccin Macchiato Mantle */
  --color-crust: #1e2030; /* Catppuccin Macchiato Mantle */

  --spacing-hch: 2.425ex;
  --spacing-hch-05: calc(var(--spacing-hch) / 2);
  --spacing-hch-2: calc(var(--spacing-hch) * 2);
  --spacing-hch-3: calc(var(--spacing-hch) * 3);
  --spacing-hch-4: calc(var(--spacing-hch) * 4);
  --spacing-ch: 1ch;
  --spacing-ch-2: 2ch;
  --spacing-ch-3: 3ch;
  --spacing-ch-4: 4ch;

  --tw-leading: normal;
}

.light {
  /* Catppuccin Latte */
  --color-rosewater: #dc8a78;
  --color-flamingo: #dd7878;
  --color-pink: #ea76cb;
  --color-mauve: #8839ef;
  --color-red: #d20f39;
  --color-maroon: #e64553;
  --color-peach: #fe640b;
  --color-yellow: #df8e1d;
  --color-green: #40a02b;
  --color-teal: #179299;
  --color-sky: #04a5e5;
  --color-sapphire: #209fb5;
  --color-blue: #1e66f5;
  --color-lavender: #7287fd;
  --color-text: #4c4f69;
  --color-subtext-1: #5c5f77;
  --color-subtext-0: #6c6f85;
  --color-overlay-2: #7c7f93;
  --color-overlay-1: #8c8fa1;
  --color-overlay-0: #9ca0b0;
  --color-surface-2: #acb0be;
  --color-surface-1: #bcc0cc;
  --color-surface-0: #ccd0da;
  --color-base-color: #eff1f5;
  --color-mantle: #e6e9ef;
  --color-crust: #dce0e8;
}
:root {
  font-family: "JetBrains Mono", monospace, serif;
  font-optical-sizing: auto;
  font-size: 16px;
  color: var(--color-text);
  line-height: normal;
}

html {
  background-color: var(--color-base-color);
}
