/* TODO: import from fontsource */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-rosewater: #F2D5CF;
  --color-flamingo: #EEBEBE;
  --color-pink: #F4B8E4;
  --color-mauve: #CA9EE6;
  --color-red: #E78284;
  --color-maroon: #EA999C;
  --color-peach: #EF9F76;
  --color-yellow: #E5C890;
  --color-green: #A6D189;
  --color-teal: #81C8BE;
  --color-sky: #99D1DB;
  --color-sapphire: #85C1DC;
  --color-blue: #8CAAEE;
  --color-lavender: #BABBF1;
  --color-text: #C6D0F5;
  --color-subtext-1: #B5BFE2;
  --color-subtext-0: #A5ADCE;
  --color-overlay-2: #949CBB;
  --color-overlay-1: #838BA7;
  --color-overlay-0: #737994;
  --color-surface-2: #494D64;
  --color-surface-1: #363A4F;
  --color-surface-0: #24273A;
  --color-base: #181926;
  --color-mantle: #181825;
  --color-crust: #11111B;
}

:root {
  font-family: "JetBrains Mono", monospace, serif;
  font-optical-sizing: auto;
  font-size: 16px;
  color: var(--color-text)
}

html {
  background-color: var(--color-base);
}
