---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Portfolio">
  <Header variant='h1'>Title 1</Header>
  <Header variant='h2'>Title 2</Header>
  <Header variant='h3'>Title 3</Header>
  <button class="px-2.5 bg-blue hover:bg-blue/90 text-base text-[16px] font-medium">
    Button
  </button>
</Layout>
