---
import Layout from '../layouts/Layout.astro';
import Cover from '../sections/Cover.astro';
import Experience from '../sections/Experience.astro';
import Education from '../sections/Education.astro';
import Projects from '../sections/Projects.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Portfolio">
  <header class="fixed bottom-0 z-10 w-full">
    <Navbar />
  </header>
  <main class="pb-hch-2">
    <Cover />
    <div class="max-w-3xl mx-auto px-ch-2">
      <Experience />
      <Education />
      <Projects />
    </div>
  </main>
</Layout>
