---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Button from '../components/Button.astro';
import Anchor from '../components/Anchor.astro';
---

<Layout title="Portfolio">
  <Header variant='h1'>Title 1</Header>
  <Header variant='h2'>Title 2</Header>
  <Header variant='h3'>Title 3</Header>
  <Anchor href="/afs">asfa</Anchor>
  <Button>Button</Button>
  <Button variant='outline'>Button</Button>
  <Button variant='ghost'>Button</Button>
</Layout>
<script>
// Way in Astro to add event handlers
document.querySelector('#main-btn')?.addEventListener('click', () => console.log('main'))
</script>
