---
import { cn } from '../utils/tailwind'

interface AnchorProps extends astroHTML.JSX.AnchorHTMLAttributes {

}
type Props = AnchorProps
const props = Astro.props
---
<a {...props}
  class={cn(
    "text-base font-medium text-blue hover:underline",
    props.class
  )}>
  <slot />
</a>
<style>
a::before {
  content: '[ ';
}
a::after {
  content: ' ](' attr(href) ')';
}
</style>
