---
import { cn } from '../utils/tailwind'
import type { ColorType, TextColorType } from '../styles/colors'

interface LabelProps extends astroHTML.JSX.LabelHTMLAttributes {
  isLabel: true
  variant?: ColorType | TextColorType
}
interface DefaultProps {
  isLabel?: false
  variant?: ColorType | TextColorType
  class?: string
}
type Props = LabelProps | DefaultProps
const { isLabel = false, variant = 'blue', ...props } = Astro.props
const Component = isLabel? 'label' : 'span'
const variantStyles = {
  'bg-pink': variant === 'pink',
  'bg-mauve': variant === 'mauve',
  'bg-red': variant === 'red',
  'bg-peach': variant === 'peach',
  'bg-yellow': variant === 'yellow',
  'bg-green': variant === 'green',
  'bg-teal': variant === 'teal',
  'bg-blue': variant === 'blue',
  'bg-lavender': variant === 'lavender',
  'bg-text': variant === 'text',
  'bg-subtext-1': variant === 'subtext-1',
  'bg-subtext-0': variant === 'subtext-0',
}
---
<Component
  {...props}
  class={cn("inline-flex gap-ch px-ch rounded-full text-base font-bold text-base-color",
    variantStyles,
    props.class)}
>
  <span class="inline-flex items-center gap-ch"><slot /></span>
</Component>
