---
import Header from './Header.astro';
import SubHeader from './SubHeader.astro';
interface Props {
  title: string
  subTitle?: string
}
const { title, subTitle } = Astro.props
---
<div class="p-3 bg-surface-0">
  <Header variant="h3" class="mb-3">{title}</Header>
  {subTitle && <SubHeader>{subTitle}</SubHeader>}
  <div class="mt-7 text-subtext-1">
    <slot />
  </div>
</div>
