---
import type { ComponentProps } from 'astro/types';
import Card from './Card.astro';
import { cn } from '../utils/tailwind';
interface Props extends ComponentProps<typeof Card> {
  date: string
  ellipsis?: boolean // Add a dashed line at the end
}
const { date, ellipsis = false, ...props } = Astro.props
---
<div
  class={cn(
    { 'ellipsis': ellipsis },
    "relative text-base space-y-hch ml-ch py-hch pl-ch-2"
  )}>
  <p class="relative text-base text-subtext-0 font-medium">
    {date}
  </p>
  <Card {...props}>
    <slot />
  </Card>
</div>
<style>
/* Line */
div::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  width: 2px;
  background-color: var(--color-overlay-1);
}
/* Dashed line at the end */
div.ellipsis::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -1px;
  height: var(--spacing-hch);
  border: 2px dashed var(--color-base-color);
}
/* Marker */
p::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -3ch;
  content: '';
  width: 2ch;
  background-color: var(--color-overlay-1);
}
</style>
