---
import { cn } from '../utils/tailwind'

interface Props {
  variant: 'h1' | 'h2' | 'h3'
  class?: string
}
const { variant, ...props } = Astro.props
const Component = variant
---
<Component
  class={cn(
    'mr-6 text-base-color font-extrabold',
    {
      'text-4xl max-sm:text-3xl': variant === 'h1',
      'text-2xl max-sm:text-xl': variant === 'h2',
      'text-xl max-sm:text-lg': variant === 'h3',
    },
    props.class
  )}>
  <span
    class={cn('px-ch box-decoration-clone', {
      "bg-blue before:content-['#_']":
      variant === 'h1',
      "bg-maroon before:content-['##_']":
      variant === 'h2',
      "bg-peach before:content-['###_']":
      variant === 'h3'
    })}
  >
    <slot />
  </span>
</Component>
