---
interface Props extends astroHTML.JSX.ImgHTMLAttributes {
  src: string
  alt: string
}
const props = Astro.props
---
<div>
  <img {...props}>
  <!-- TODO: set not interactive role -->
  <p class="text-sm text-subtext-0 select-none">
    [ {props.alt} ](...)
  </p>
</div>
