---

---
<nav class="text-lg pb-hch bg-base-color">
  <p class="bg-mantle text-lg max-sm:text-base flex">
    <span class="px-ch bg-blue text-base-color font-bold">
      DIEGO
    </span>
    <!-- TODO: button to go to section -->
    <span class="px-ch bg-surface-0 text-maroon font-medium">
      ## Heading
    </span>
    <span class="px-ch">
      portfolio.md
    </span>
  </p>
</nav>
