---
import { Icon } from 'astro-icon/components';
---
<nav class="text-lg bg-base-color">
  <p class="text-lg max-sm:text-base flex">
    <span class="inline-flex items-center gap-ch">
      <Icon name="catppuccin:markdown" size={18} class="**:stroke-current w-ch-2" />
      portfolio.md
    </span>
    <!-- TODO: button to go to section -->
    <!-- TODO: default value -->
    <span id="nav-heading" class="px-ch text-maroon font-medium">
      # Cover
    </span>
  </p>
  <p class="bg-mantle text-lg max-sm:text-base flex">
    <span class="px-ch bg-blue text-base-color font-bold">
      Diego Q.J.
    </span>
    <span id="nav-heading" class="px-ch bg-surface-0 text-blue font-medium">
      stable
    </span>
    <span id="nav-heading" class="ml-auto px-ch bg-surface-0 text-blue font-medium">
      ES
    </span>
    <span id="nav-heading" class="px-ch bg-surface-0 text-blue font-medium">
      dark
    </span>
  </p>
</nav>
<script>
// Change content for span#nav-heading when hash in url change
window.addEventListener('hashchange', () => {
  const element = document.querySelector('#nav-heading')
  if (element) {
    element.textContent = '## ' + location.hash.slice(1)
  }
})
</script>
