---
---
<nav class="text-lg pb-hch bg-base-color">
  <p class="bg-mantle text-lg max-sm:text-base flex">
    <span class="px-ch bg-blue text-base-color font-bold">
      Diego Q.J.
    </span>
    <!-- TODO: button to go to section -->
    <!-- TODO: default value -->
    <span id="nav-heading" class="px-ch bg-surface-0 text-maroon font-medium">
      ## Heading
    </span>
    <span class="px-ch">
      portfolio.md
    </span>
  </p>
</nav>
<script>
// Change content for span#nav-heading when hash in url change
window.addEventListener('hashchange', () => {
  const element = document.querySelector('#nav-heading')
  if (element) {
    element.textContent = '## ' + location.hash.slice(1)
  }
})
</script>
