---
import Header from './Header.astro';
import Separator from './Separator.astro';
interface Props {
  title: string
  isFirst?: boolean
}
const { title, isFirst = false } = Astro.props
---
<section class="relative pt-24 pb-8 max-sm:pt-16 px-3">
  <div class="relative max-w-3xl mx-auto">
    {!isFirst && <Separator level="h2" class='absolute -top-24 max-sm:-top-16 right-0 left-0' />}
    <Header variant='h2' class="mb-6">{title}</Header>
    <slot />
  </div>
</section>
