---
import { cn } from '../utils/tailwind';
import Header from './Header.astro';
import Separator from './Separator.astro';
interface Props {
  title: string
  isFirst?: boolean
  class?: string
}
const { title, isFirst = false, class: className } = Astro.props
---
<section
  class={cn(
    "relative text-2xl max-sm:text-xl pt-hch-2 pb-hch",
    className
  )}>
  {!isFirst &&
  <Separator level="h2" class="absolute top-0 right-0 left-0" />}
  <Header id={title.replace(' ', '-')} variant="h2" class="mb-hch">{title}</Header>
  <div class="text-base">
    <slot />
  </div>
</section>
