---
import { cn } from '../utils/tailwind';
interface Props {
  class?: string
  level: 'h1' | 'h2'
}
const { class: classStr = '', level } = Astro.props
---
<p role="separator" data-level={level}
  class={'separator ' + cn(
    "select-none text-subtext-0 font-bold text-nowrap overflow-hidden",
    { 'text-4xl max-sm:text-3xl': level === 'h1', 'text-2xl max-sm:text-xl': level === 'h2'},
    classStr,
  )}>
  ------------
</p>
<script>

const CHAR_WIDTH: Record<string, { 'default': number, 'sm': number }> = {
  h1: { default: 21.6, sm: 18 },
  h2: { default: 14.4, sm: 12 }
}
function changeTextContent () {
  const separators = document.querySelectorAll('.separator')
  for (let i = 0; i < separators.length; i++) {
    const separator = separators[i]
    const level = separator.getAttribute('data-level')
    let num = 3
    if (level && CHAR_WIDTH[level] !== undefined) {
      const charWidth = separator.clientWidth > 640?
        CHAR_WIDTH[level].default : CHAR_WIDTH[level].sm
      num = separator.clientWidth / charWidth
    }
    separator.textContent = '-'.repeat(Math.floor(num))
  }
}
changeTextContent()
window.addEventListener('resize', changeTextContent)
</script>
