---
import { cn } from '../utils/tailwind';

interface Props {
  variant: 'h1' | 'h2' | 'h3'
  class?: string
}
const { variant, ...props } = Astro.props
---
<p
  class={cn(
    {
      'mr-6 text-3xl max-sm:text-2xl text-base-color': variant === 'h1',
      'text-lg max-sm:text-base': variant === 'h2' || variant === 'h3',
    },
    props.class
  )}>
  <strong
    class={cn(
      "before:content-['**_'] after:content-['_**']",
      {
        'px-ch bg-teal font-extrabold box-decoration-clone':
        variant === 'h1',
        'font-bold':
        variant === 'h2' || variant === 'h3',
      },
    )}
  >
    <slot />
  </strong>
</p>
