---
import { cn } from '../utils/tailwind';

interface Props {
  variant: 'h1' | 'h2' | 'h3'
  class?: string
}
const { variant, ...props } = Astro.props
---
<p class={cn({ 'mr-6': variant === 'h1' }, props.class)}>
  <strong
    class={cn(
      "before:content-['**_'] after:content-['_**']",
      {
        'px-6 text-3xl max-sm:text-2xl max-sm:px-[18px] bg-teal font-extrabold text-base-color box-decoration-clone':
        variant === 'h1',
        'text-lg max-sm:text-base font-bold':
        variant === 'h2' || variant === 'h3',
      },
    )}
  >
    <slot />
  </strong>
</p>
