---
import Header from '../components/Header.astro';
import SubHeader from '../components/SubHeader.astro';
import Separator from '../components/Separator.astro';
import List from '../components/List.astro';
---
<section class="relative pt-24 pb-24 max-sm:pt-20 max-sm:pb-20 px-3 bg-surface-0">
  <div class="max-w-4xl mx-auto">
    <Header variant="h1">
      Diego Quiroga Jaldín
    </Header>
    <SubHeader variant="h1" class="mb-[49px] max-sm:mb-8">
      Front-end Developer
      <br>
      && Computer Scientist
    </SubHeader>
    <List
      items={[
        'Item 1',
        'Item 2'
      ]}
      size="lg" class="" />
    <Separator level="h1" class="absolute bottom-0 left-0 right-0" />
  </div>
</section>
