---
import Header from '../components/Header.astro';
import SubHeader from '../components/SubHeader.astro';
import Separator from '../components/Separator.astro';
---
<section class="relative pt-28 pb-36 px-3 bg-surface-0">
  <div class="max-w-4xl mx-auto">
    <Header variant="h1">
      Diego Quiroga Jaldín
    </Header>
    <SubHeader variant="h1">
      Front-end Developer
      <br>
      && Computer Scientist
    </SubHeader>
    <Separator level="h1" class="absolute bottom-0 left-0 right-0" />
  </div>
</section>
