---
import Section from '../components/Section.astro';
import Card from '../components/Card.astro';
---
<Section title="Eduction">
  <Card title="Computer Science" subTitle="UCM">
    Description...
  </Card>
</Section>
