---
import Section from '../components/Section.astro';
import Card from '../components/Card.astro';
---
<Section title="Education">
  <Card title="Computer Science" subTitle="UCM">
    <p>
      Description...
    </p>
  </Card>
</Section>
