---
import Section from '../components/Section.astro';
import Card from '../components/Card.astro';
import { education } from '../constants/education';
import { getDateIntervalStr } from '../utils/date';
---
<Section title="Education">
  <div class="space-y-hch">
    {education.map((e) => (
    <Card title={e.title} subTitle={e.institutionName}>
      <p class="mb-hch">
        {e.details}
      </p>
      <p class="text-subtext-0">
        {getDateIntervalStr({ startDate: e.startDate, endDate: e.endDate })}
      </p>
    </Card>
    ))}
  </div>
</Section>
