---
import Section from '../components/Section.astro';
import Chronology from '../components/Chronology.astro';
import { getDateIntervalStr } from '../utils/date';
import { experience } from '../constants/experience';
---
<Section title="Experience" isFirst>
  {experience.map((e) => (
  <Chronology title={e.role} subTitle={e.companyName}
    date={getDateIntervalStr({
      startDate: e.startDate,
      endDate: e.endDate,
      locale: 'es-ES'
    })}>
    {e.details}
  </Chronology>
  ))}
</Section>
